<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.jstardbConnectionString"
            connectionString="Data Source=ESTUDY-PC\SQLEXPRESS;Initial Catalog=jstardb;Persist Security Info=True;User ID=sa;Password=es0750"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.jstarConnectionString" connectionString="Data Source=ESTUDY-PC\MSSQL2008;Initial Catalog=jstar;User ID=sa;Password=es0750"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.s565313db0ConnectionString"
            connectionString="Data Source=210.209.80.232,1435;Initial Catalog=s565313db0;User ID=s565313db0;Password=jstar2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
