.btnLightBlue
{border-radius:3px;
    margin:1px;
     font-weight:bold;
     border-style:none;
    padding:4px 5px 3px 5px;
background: #60c8f2;
color: white;
}
.btnLightBlue:hover
{
    background: #90c8f2;
    color: white;
}


.btnBlue
{border-radius:3px;
    margin:1px;
     font-weight:bold;
     border-style:none;
    padding:4px 5px 3px 5px;
background: #3399ff;
color: white;
}
.btnBlue:hover
{
    background: #fff;
    color: #3399ff;
}
.btnGreen
{
    margin:1px;
     font-weight:bold;
     border-style:none;
    padding:4px 5px 3px 5px;
background: #99cc00;
color: white;
border-radius:3px;
}
.btnGreen:hover
{
    background: #76be05;
    color: white;
}
.btnOrange
{
    border-radius:3px;
    margin:1px;
     font-weight:bold;
     border-style:none;
    padding:4px 5px 3px 5px;
background: #ff9933;
color: white;
}
.btnOrange:hover
{
    background: #ff6600;
    color: white;
}